@model ParkingPay.Models.EnteredCarModel

@{
    ViewData["Title"] = "ErrorAlreadyParked";
}
<h4>Автомобиль с таким номером уже припаркован!</h4>
<div>
    <a asp-action="HomeIndex">Назад в меню</a>
</div>