@model ParkingPay.Models.EnteredCarModel

@{
    ViewData["Title"] = "PaymentBelowError";
}
<h4>Внесенная сумма меньше стоимости парковки!</h4>
<div>
    <a asp-action="HomeIndex">Назад в меню</a>
</div>