@model ParkingPay.Models.EnteredCarModel

@{
    ViewData["Title"] = "PaymentOverError";
}
<h4>Внесенная сумма больше стоимости парковки!</h4>
<div>
    <a asp-action="HomeIndex">Назад в меню</a>
</div>